@model ECommerceASP.Models.Item

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="~/Content/Images/placeholder.jpg" alt="">
        <div class="caption">
            <h4 class="pull-right">@Model.Price</h4>
            <h4>
                <a href="#">@Model.Name</a>
            </h4>
            <p>@Model.Item_description</p>
        </div>
        <div class="ratings">
            <p class="pull-right">0 reviews</p>
            <p>
                @*foreach loop?*@
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
</div>
