@using EntityFramework.Project

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="#" alt="">
        <div class="caption">
            <h4 class="pull-right">item.price</h4>
            <h4>
                <a href="#">{}</a>
            </h4>
            <p>{}</p>
        </div>
        <div class="ratings">
            <p class="pull-right">0 reviews</p>
            <p>
                @*foreach loop?*@
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
</div>
